@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  html {
    @apply bg-[#161616] rounded-3xl;
  }

  body {
    width: 800px;
    height: 600px;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  span,
  div,
  button {
    @apply text-white select-none;
  }

  button {
    @apply rounded-lg shadow-md bg-slate-700 py-1 px-2;
  }

  input,
  textarea {
    @apply bg-black text-white;
  }

  .text-area {
    @apply w-full;
  }

  #template-message {
    @apply w-[90%] h-[150px] rounded-3xl p-4 shadow-xl text-sm;
  }

  #root {
    @apply flex flex-col items-center justify-between overflow-x-hidden gap-4;
  }

  .title {
    @apply text-2xl mt-4;
  }

  .buttons,
  .text-area,
  .title {
    @apply flex flex-row items-center justify-evenly;
  }

  .buttons {
    @apply mb-4 gap-4;
  }
  .buttons > button {
    @apply shadow-lg text-sm hover:opacity-75 transition-all;
  }
  #variables-container > div > button {
    @apply hover:opacity-75 transition-all;
  }
  .variables {
    @apply flex flex-col items-center justify-center w-full;
  }

  .add-var-wrapper {
    @apply hover:opacity-80 transition-all my-2;
  }

  .add-var-wrapper,
  .add-var-wrapper > button {
    @apply bg-slate-700 rounded-full w-10 h-10 flex items-center justify-center;
  }

  button > svg {
    @apply w-10 h-10 text-white;
  }

  label,
  input[type='text'] {
    @apply text-sm;
  }
  .var-wrapper {
    @apply flex flex-row items-center justify-between w-2/3;
  }
  #variables-container {
    @apply w-full flex flex-col items-center gap-2;
  }
  .variableContainer {
    @apply flex flex-row space-x-4 items-center justify-center;
  }

  .custom-var-wrapper {
    @apply flex flex-row gap-4 py-1;
  }

  .custom-var-wrapper > input {
    @apply border border-white/50 rounded-lg p-2;
  }

  .remove-var-button {
    @apply px-2 rounded-full;
  }

  .userInputContainer {
    @apply flex flex-row space-x-4 items-center justify-center shadow-xl;
  }

  .userInputContainer > input {
    @apply py-1 px-2 rounded-xl;
  }

  #preview-box {
    @apply w-full text-base p-10 bg-slate-700 border-white border rounded-xl;
  }
}
