@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  html {
    @apply bg-[#161616];
  }
  body {
    @apply flex flex-col items-center justify-between gap-4 py-3 overflow-x-hidden;
    width: 800px;
    height: 600px;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  span,
  div,
  button {
    @apply text-white select-none;
  }
  button {
    @apply bg-slate-700 px-2 py-1 rounded-lg shadow-md;
  }
  input,
  textarea {
    @apply text-white bg-black;
  }
  button > svg {
    @apply w-10 h-10 text-white;
  }
  label,
  input[type='text'] {
    @apply text-sm;
  }
  .buttons,
  .text-area,
  .title {
    @apply justify-evenly flex flex-row items-center;
  }
  #variables-container > div > button,
  .reload-button {
    @apply hover:opacity-75 transition-all shadow-lg;
  }
  .var-wrapper {
    @apply flex flex-row items-center justify-between w-2/3;
  }
  #variables-container {
    @apply flex flex-col items-center w-full gap-2;
  }
  .custom-var-wrapper {
    @apply flex flex-row gap-4 py-1;
  }
  .remove-var-button {
    @apply px-2 rounded-full;
  }
  .variableContainer,
  .userInputContainer {
    @apply flex flex-row items-center justify-center space-x-4 shadow-xl;
  }
  .variableContainer > input {
    @apply rounded-xl px-2 py-1;
  }
  .userInputContainer > input {
    @apply rounded-xl px-2 py-1;
    width: 275px;
  }
  #preview-box {
    @apply bg-slate-800 rounded-xl border-white/25 w-full p-10 text-base border;
  }
  .remove-var-button,
  .reload-button > button {
    @apply rounded-full;
  }
  .reload-button > button > svg {
    @apply w-8 rounded-full;
  }
}
